body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}


a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon i {
    position: relative;
    top: 13px;
    bottom: 0;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}

a#btn_cocacola {
    display: block;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 75px;
    margin: auto;
    margin-top: 60px;
    background-color: #f40009;
}

a#btn_cocacola img{
    width: 120px;
    position: relative;
    top: 55;
}

a#btn_cocacola:hover {
    box-shadow: 0 0 8px #571010;
}

a#btn_apple {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: rgb(52, 52, 52);
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 60px;
    transition: all .3s;
}

a#btn_apple i {
    font-size: 60px;
    position: relative;
    top: 10px;
    bottom: 0;
}

a#btn_apple:hover {
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

a#btn_apple:hover i{
    font-size: 80px;
}

a#btn_michaelkors {
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    transition: all .3s;
}

a#btn_michaelkors img {
    width: 150px;
    margin-top: 120px;
}

a#btn_michaelkors:hover {
    filter: invert(1);
}

a#btn_lyft img{
    width: 100px;
    margin-top: 100px;
}

a#btn_lyft:hover img{
    width: 120px;
    margin-top: 100px;
    filter: drop-shadow(1px 2px rgb(34, 34, 34));
}

a#btn_lyft:active img{
    width: 120px;
    margin-top: 100px;
    filter: grayscale(100) drop-shadow(1px 2px rgb(34, 34, 34));
}

a#btn_samsung img{
    width: 170px;
    margin-top: 100px;
}

a#btn_samsung:hover img{
    width: 190px;
}

a#btn_samsung:active img{
    width: 190px;
    filter: drop-shadow(1px 2px 3px black);
}

a#btn_bissingers img {
    width: 180px;
    margin-top: 90px;
}

a#btn_bissingers:hover img {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 80px;
}

a#btn_bissingers:active img{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 80px;
    box-shadow: 0 0 8px #a1a1a1;
}

a#btn_instagram i{
    font-size:90px;
    margin-top: 80px;
    color: black;
    transition: all .2s; 
}

a#btn_instagram:hover i{
    font-size: 100px; 
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 32, 81)), to(#6107b6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a#btn_tesla img {
    width: 180px;
    margin-top: 40px;
    filter: grayscale(100);
}

a#btn_tesla:hover img {
    width: 200px;
    margin-top: 40px;
    filter: none;
}

a#btn_tesla:active img {
    width: 200px;
    margin-top: 40px;
    filter: drop-shadow(1px 1px black);
}

a#btn_moo img{
    width: 150px;
    margin-top: 100px;
}

a#btn_pottermore img{
    width: 150px;
    margin-top: 70px;
}

a#btn_pottermore:hover img{
    width: 180px;
    margin-top: 60px;
}

a#btn_fitbit {
    display: inline-block;
    height: 65px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #2cb4bb;
    text-decoration: none;
}

a#btn_fitbit .icon {
    width: 55px;
    position: relative;
    right: 25;
    bottom: 4;
    transition: right 0.5s;
}

a#btn_fitbit .logo {
    width: 100px;
    position: relative;
    filter: invert(1);
    bottom: 12;
    right: 30;
}

a#btn_fitbit:hover .icon {
    width: 55px;
    position: relative;
    bottom: 4;
    right: -130;
}

a#btn_fitbit:active {
    box-shadow: 0 0 8px rgb(45, 50, 61);
}

a#btn_mollyjogger img{
    width: 510px;
    margin-top: 90px;
    margin-left: 9px;
}

a#btn_mollyjogger:hover img{
    width: 550px;
    margin-top: 90px;
    margin-left: 1px;
}

a#btn_newyorker img{
    width: 150px;
    margin-top: 80px;
    background-color: black;
    padding: 40px 40px 40px 40px;
}

a#btn_newyorker:hover img{
    width: 150px;
    margin-top: 80px;
    filter: invert(1);
    border: 2px, solid, black;
    padding: 40px 40px 40px 40px;
}

a#btn_npr {
    display: inline-block;
    height: 90px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: red;
    color: #fff;
    font-size: 60px;
    font-family: 'Trebuchet', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_cartoon img{
    width: 150px;
    margin-top: 80px;
}

a#btn_hsn img{
    width: 150px;
    margin-top: 80px;
    background-color: blue;
}
/* hsn click url https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/HSN_logo.svg/1038px-HSN_logo.svg.png */

a#btn_facebook {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: white;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_facebook i{
    font-size: 80px;
    color: #1c74f4;
    text-align: center;
    position: relative;
    top: 13;
    bottom: 0;
}

a#btn_facebook:hover {
    background: linear-gradient( #1c74f4, #1765da);
}

a#btn_facebook:hover i{
    color: white;
    position: relative;
    top: 10;
    font-size: 90px;
}

a#btn_electra img{
    width: 150px;
    margin-top: 80px;
}

a#btn_oldnavy img{
    width: 150px;
    margin-top: 80px;
}

a#btn_nike img{
    width: 150px;
    margin-top: 80px;
}